LAB4/LAB4.json
[{"id":"9587cd0b.30c188","type":"tab","label":"LAB4","disabled":false,"info":""},{"id":"2eb9bb82.b9a7e4","type":"inject","z":"9587cd0b.30c188","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":220,"wires":[["3b3da4d1.cf1894"]]},{"id":"3b3da4d1.cf1894","type":"Application","z":"9587cd0b.30c188","name":"","platform":"db0323ac.84397","name1":"ef02661a.ecbaf8","pointOfAccess":"","obixAnnounce":false,"width":0,"options":[{"label":"Location","value":"DCNLab"}],"cntInstance":"","x":530,"y":220,"wires":[["ce597e69.2b0e9"]]},{"id":"ce597e69.2b0e9","type":"debug","z":"9587cd0b.30c188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":220,"wires":[]},{"id":"89c4d377.abb26","type":"inject","z":"9587cd0b.30c188","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":400,"wires":[["3406308e.79262"]]},{"id":"3406308e.79262","type":"Subscription","z":"9587cd0b.30c188","name":"","platform":"db0323ac.84397","sensor":"ef02661a.ecbaf8","container":"DATA","path":"http://localhost:1880/monitor_lab4","x":510,"y":400,"wires":[["5e53be1f.d96e68"]]},{"id":"5e53be1f.d96e68","type":"debug","z":"9587cd0b.30c188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":400,"wires":[]},{"id":"60fde518.37a294","type":"http in","z":"9587cd0b.30c188","name":"","url":"/monitor_lab4","method":"post","upload":false,"swaggerDoc":"","x":90,"y":500,"wires":[["f2329ee4.3fa1c8","140052a9.59459d"]]},{"id":"f2329ee4.3fa1c8","type":"xml","z":"9587cd0b.30c188","name":"","property":"payload","attr":"","chr":"","x":250,"y":500,"wires":[["5bb16aa.2b2cd94"]]},{"id":"5bb16aa.2b2cd94","type":"switch","z":"9587cd0b.30c188","name":"","property":"payload[\"m2m:sgn\"].nev[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":500,"wires":[["e0e11bd7.458f1"],["877deca9.e105e8","5fe3d9e4.2d2cc8"]]},{"id":"877deca9.e105e8","type":"function","z":"9587cd0b.30c188","name":"","func":"var data = msg.payload[\"m2m:sgn\"].nev[0].rep[0][\"m2m:cin\"][0].con[0];\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":520,"wires":[["cfa05694.70ecd","dde8008c.74ff6"]]},{"id":"cfa05694.70ecd","type":"xml","z":"9587cd0b.30c188","name":"","property":"payload","attr":"","chr":"","x":840,"y":520,"wires":[["94ec38b4.527b2"]]},{"id":"94ec38b4.527b2","type":"function","z":"9587cd0b.30c188","name":"","func":"var New = {};\n//New.type = msg.payload.obj.str[0].$.val;\n//New.unit = msg.payload.obj.str[1].$.val;\nNew.latitude = msg.payload.obj.str[0].$.val;\nNew.longitude = msg.payload.obj.str[1].$.val;\nreturn New;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":520,"wires":[["fe5cb9b.45a7e48"]]},{"id":"fe5cb9b.45a7e48","type":"debug","z":"9587cd0b.30c188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":600,"wires":[]},{"id":"e0e11bd7.458f1","type":"http response","z":"9587cd0b.30c188","name":"","statusCode":"","headers":{},"x":660,"y":440,"wires":[]},{"id":"cff3e586.ab42c","type":"inject","z":"9587cd0b.30c188","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":280,"wires":[["8596ee3a.8ca24"]]},{"id":"8596ee3a.8ca24","type":"Container","z":"9587cd0b.30c188","name":"DATA CONTAINER","platform":"db0323ac.84397","name1":"ef02661a.ecbaf8","viewtype":"autre","viewunid1":"DATA","x":530,"y":280,"wires":[["e5ff72b7.8fadd"]]},{"id":"e5ff72b7.8fadd","type":"debug","z":"9587cd0b.30c188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":280,"wires":[]},{"id":"9130a529.f8d0b","type":"inject","z":"9587cd0b.30c188","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":340,"wires":[["a10da81a.ebf1"]]},{"id":"a10da81a.ebf1","type":"ContentInstance","z":"9587cd0b.30c188","name":"DATA CONTENTINSTANCE","platform":"db0323ac.84397","name1":"ef02661a.ecbaf8","container":"DATA","width":0,"options":[{"type":"str","label":"latitude","value":"1"},{"type":"str","label":"longitude","value":"2"}],"x":560,"y":340,"wires":[["bad5ae72.286cb"]]},{"id":"bad5ae72.286cb","type":"debug","z":"9587cd0b.30c188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":340,"wires":[]},{"id":"44a6d8b6.f59ce","type":"http in","z":"9587cd0b.30c188","name":"Post Sensor Data","url":"/sensorData","method":"post","upload":false,"swaggerDoc":"","x":80,"y":720,"wires":[["6deeea72.1c037c","49afe8e2.140f9"]]},{"id":"7caa238a.5e4184","type":"debug","z":"9587cd0b.30c188","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":720,"wires":[]},{"id":"6deeea72.1c037c","type":"debug","z":"9587cd0b.30c188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":320,"y":840,"wires":[]},{"id":"49afe8e2.140f9","type":"function","z":"9587cd0b.30c188","name":"","func":"var data = '<m2m:cin xmlns:m2m=\"http://www.onem2m.org/xml/protocols\">\\\n\t<cnf>message</cnf>\\\n\t<con>\\\n\t  &lt;obj&gt;\\\n\t\t&lt;str name=&quot;latitude&quot; val=&quot;'+msg.payload.latitude+'&quot;/&gt;\\\n\t\t&lt;str name=&quot;longitude&quot; val=&quot;'+msg.payload.longitude+'&quot;/&gt;\\\n\t  &lt;/obj&gt;\\\n\t</con>\\\n</m2m:cin>';\n\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['X-M2M-Origin'] = 'admin:admin';\nmsg.headers['Content-Type'] = 'application/xml;ty=4';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":720,"wires":[["f2594e2a.f6f8a","3a77545f.b33934"]]},{"id":"f2594e2a.f6f8a","type":"debug","z":"9587cd0b.30c188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":840,"wires":[]},{"id":"3a77545f.b33934","type":"http request","z":"9587cd0b.30c188","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:8282/~/mn-cse/mn-name/LOCATION_GATEWAY_APPLICATION/DATA","tls":"","persist":false,"proxy":"","authType":"basic","x":670,"y":720,"wires":[["7caa238a.5e4184","2879653a.68beda"]]},{"id":"2879653a.68beda","type":"http response","z":"9587cd0b.30c188","name":"http response","statusCode":"","headers":{},"x":930,"y":800,"wires":[]},{"id":"5b1f84b2.44b954","type":"http in","z":"9587cd0b.30c188","name":"","url":"/location_try","method":"get","upload":false,"swaggerDoc":"","x":80,"y":960,"wires":[["448af258.eb4254"]]},{"id":"a87e4896.83d5a","type":"debug","z":"9587cd0b.30c188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":960,"wires":[]},{"id":"448af258.eb4254","type":"http request","z":"9587cd0b.30c188","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:8282/~/mn-cse/mn-name/LOCATION_GATEWAY_APPLICATION/DATA/cin_430625968","tls":"","persist":false,"proxy":"","authType":"basic","x":290,"y":960,"wires":[["1f7e73fe.04e01c"]]},{"id":"49d8b652.40a4e8","type":"function","z":"9587cd0b.30c188","name":"","func":"var data = msg.payload[\"m2m:cin\"].con[0];\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":1000,"wires":[["e364420.12c85c","3512d3d.cfeceac"]]},{"id":"e364420.12c85c","type":"xml","z":"9587cd0b.30c188","name":"","property":"payload","attr":"","chr":"","x":790,"y":1000,"wires":[["d72aa122.2319c"]]},{"id":"d72aa122.2319c","type":"function","z":"9587cd0b.30c188","name":"","func":"var a1 = msg.payload.obj.str[0].$.val;\nvar a2 = msg.payload.obj.str[1].$.val;\n\n//New.type = msg.payload.obj.str[0].$.val;\n//New.unit = msg.payload.obj.str[1].$.val;\n//New.latitude = msg.payload.obj.str[0].$.val;\n//New.longitude = msg.payload.obj.str[1].$.val;\nmsg.payload={\"latitude\":a1,\"longitude\":a2};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":960,"wires":[["a87e4896.83d5a","b4022554.c6d98"]]},{"id":"b4022554.c6d98","type":"http response","z":"9587cd0b.30c188","name":"","statusCode":"","headers":{},"x":1160,"y":1040,"wires":[]},{"id":"140052a9.59459d","type":"debug","z":"9587cd0b.30c188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":600,"wires":[]},{"id":"1f7e73fe.04e01c","type":"xml","z":"9587cd0b.30c188","name":"","property":"payload","attr":"","chr":"","x":470,"y":1000,"wires":[["49d8b652.40a4e8","dcd12328.9abe8"]]},{"id":"3512d3d.cfeceac","type":"debug","z":"9587cd0b.30c188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":1060,"wires":[]},{"id":"dcd12328.9abe8","type":"debug","z":"9587cd0b.30c188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":1060,"wires":[]},{"id":"dde8008c.74ff6","type":"debug","z":"9587cd0b.30c188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":580,"wires":[]},{"id":"5fe3d9e4.2d2cc8","type":"debug","z":"9587cd0b.30c188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":580,"wires":[]},{"id":"db0323ac.84397","type":"xN_CSE","z":"","platform":"mn-cse","URLBase":"http://127.0.0.1:8282/~/mn-cse/mn-name","user":"admin","password":"admin"},{"id":"ef02661a.ecbaf8","type":"AE","z":"","appId":"LOCATION_GATEWAY_APPLICATION"}]