LAB3/LAB3.json
[{"id":"2370c858.3d88c","type":"tab","label":"LAB3","disabled":false,"info":""},{"id":"cd7adb65.f4dfb","type":"inject","z":"2370c858.3d88c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":180,"wires":[["d1734be4.35fbf"]]},{"id":"d1734be4.35fbf","type":"Application","z":"2370c858.3d88c","name":"","platform":"db0323ac.84397","name1":"7e4cb19.3ff6e5","pointOfAccess":"","obixAnnounce":false,"width":0,"options":[{"label":"Location","value":"DCNLab"}],"cntInstance":"","x":510,"y":180,"wires":[["50269768.481b"]]},{"id":"50269768.481b","type":"debug","z":"2370c858.3d88c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":180,"wires":[]},{"id":"8246938b.56714","type":"inject","z":"2370c858.3d88c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":260,"wires":[["112addb3.b3d6e2"]]},{"id":"112addb3.b3d6e2","type":"Container","z":"2370c858.3d88c","name":"","platform":"db0323ac.84397","name1":"7e4cb19.3ff6e5","viewtype":"autre","viewunid1":"P76091640","x":520,"y":260,"wires":[["5184ff55.415218"]]},{"id":"5184ff55.415218","type":"debug","z":"2370c858.3d88c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":260,"wires":[]},{"id":"536a94fa.1821c4","type":"inject","z":"2370c858.3d88c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":340,"wires":[["1d6eb757.b7d771"]]},{"id":"1d6eb757.b7d771","type":"ContentInstance","z":"2370c858.3d88c","name":"","platform":"db0323ac.84397","name1":"7e4cb19.3ff6e5","container":"P76091640","width":0,"options":[{"type":"str","label":"temperature","value":"28"},{"type":"bool","label":"valid","value":"True"}],"x":540,"y":340,"wires":[["33335d9f.deb5e2"]]},{"id":"33335d9f.deb5e2","type":"debug","z":"2370c858.3d88c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":340,"wires":[]},{"id":"749e0157.ba42d8","type":"inject","z":"2370c858.3d88c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":420,"wires":[["7c0c3c6b.a20a44"]]},{"id":"7c0c3c6b.a20a44","type":"Subscription","z":"2370c858.3d88c","name":"","platform":"db0323ac.84397","sensor":"7e4cb19.3ff6e5","container":"P76091640","path":"http://localhost:1880/monitor","x":530,"y":420,"wires":[["d813431a.fc322"]]},{"id":"d813431a.fc322","type":"debug","z":"2370c858.3d88c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":420,"wires":[]},{"id":"2310e3af.5fbffc","type":"http in","z":"2370c858.3d88c","name":"","url":"/monitor","method":"post","upload":false,"swaggerDoc":"","x":90,"y":600,"wires":[["f012e2e4.a6df08"]]},{"id":"f012e2e4.a6df08","type":"xml","z":"2370c858.3d88c","name":"","property":"payload","attr":"","chr":"","x":270,"y":600,"wires":[["114e70c5.4c97ef","2cc12332.caa9b4"]]},{"id":"114e70c5.4c97ef","type":"switch","z":"2370c858.3d88c","name":"","property":"payload[\"m2m:sgn\"].nev[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":600,"wires":[["5a448a26.27613c"],["7806a819.843978"]]},{"id":"7806a819.843978","type":"function","z":"2370c858.3d88c","name":"","func":"var data = msg.payload[\"m2m:sgn\"].nev[0].rep[0][\"m2m:cin\"][0].con[0];\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":620,"wires":[["18c2433.a964ebd"]]},{"id":"18c2433.a964ebd","type":"xml","z":"2370c858.3d88c","name":"","property":"payload","attr":"","chr":"","x":860,"y":620,"wires":[["7b3ef167.965ec8"]]},{"id":"7b3ef167.965ec8","type":"function","z":"2370c858.3d88c","name":"","func":"var New = {};\nNew.temperature= msg.payload.obj.str[0].$.val;\nNew.valid = msg.payload.obj.bool[0].$.val;\nreturn New;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":620,"wires":[["62daaacc.aa6e4c"]]},{"id":"62daaacc.aa6e4c","type":"debug","z":"2370c858.3d88c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":700,"wires":[]},{"id":"5a448a26.27613c","type":"http response","z":"2370c858.3d88c","name":"","statusCode":"","headers":{},"x":680,"y":540,"wires":[]},{"id":"2cc12332.caa9b4","type":"debug","z":"2370c858.3d88c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":480,"wires":[]},{"id":"db0323ac.84397","type":"xN_CSE","z":"","platform":"mn-cse","URLBase":"http://127.0.0.1:8282/~/mn-cse/mn-name","user":"admin","password":"admin"},{"id":"7e4cb19.3ff6e5","type":"AE","z":"","appId":"Test"}]